  {% extends 'base.html' %}

{% block content1  %}
<style>

.grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 48%;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/* Individual effects */

/*---------------*/
/***** Julia *****/
/*---------------*/

figure.effect-julia {
  background: #2f3238;
}

figure.effect-julia img {
  max-width: none;
  height: 400px;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-julia figcaption {
  text-align: left;
}

figure.effect-julia h2 {
  position: relative;
  padding: 0.5em 0;
}

figure.effect-julia p {
  display: inline-block;
  margin: 0 0 0.25em;
  padding: 0.4em 1em;
  background: rgba(255,255,255,0.9);
  color: #2f3238;
  text-transform: none;
  font-weight: 500;
  font-size: 75%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-360px,0,0);
  transform: translate3d(-360px,0,0);
}

figure.effect-julia p:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-julia:hover img {
  opacity: 0.4;
  -webkit-transform: scale3d(1.1,1.1,1);
  transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

</style>


{% endblock %}
{% block content2 %}
<section>
<br><br><br><br>
Welcome, {{user.first_name}}!
<div class="row">
    <script>arr = new Array()</script>
{% for song in songs %}
<div class="col-md-3">

<div class="content">
        
        <div class="grid">
          <figure class="effect-julia">
            <img src="http://www.spectrumglass.com/stained-glass/img/products/system96/5232SF.JPG" alt="img21"/>
            <figcaption>
              <h2><span>{{song.name_of_song}}</span></h2>
              <div>
                <br><br>
                  <script>
                     arr["{{forloop.counter}}"] = "/media/karaoke/" +"{{song.full_name}}";
                  </script>
                  <p><a href="" id="{{song.full_name}}" download>Download Karaoke </a></p><br>
                  <script>
                    document.getElementById("{{song.full_name}}").href = arr["{{forloop.counter}}"];
                  </script>
                <p data-toggle="modal" data-target="#exampleModalHistory">Score History</p><br>
                <p>Start Singing</p><br>
                <p>Leaderboardd</p><br>
              </div>
              
            </figcaption>     
          </figure>
          
      </div>
</div>

</div>
{% endfor %}
</div>
<div class="modal fade" id="exampleModalHistory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">SCORE HISTORY<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button></h4>

      </div>
      <div class="modal-body">
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
      
    </div>
  </div>
</div>


<div class="container row1">
  <div class="row">

    <div class="col-md-7">
    </div>

    <div class="col-md-5">
      <div id="upload_file">
        UPLOAD A SONG
      </div>

      <div class="contents">
        <ul>
        <li>mp3 or wav format only.
        <li>Stereo audio only.
        </ul>

        <div class="form-horizontal">
          <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          
          <div class="row">
            <div class="form-group">
                <label class="control-label col-sx-2"></label>
                <input type="email" name="to_email" class="form-control" id="inputEmail" placeholder="Email">

            </div>
          </div>
          <div class="row row2">
            <div class="col-md-4">
              <label class="fileUpload btn btn-success" id = "start1">
                <input type="file" name="myfile" onchange="$('#upload-file-info').html(this.files[0].name);"> 
                SELECT FILE
              </label><span style="font-size: 60%" id="upload-file-info"></span>
            </div>

            <div class="col-md-5">
              <button type="submit" class="fileUpload btn btn-success upload_button">UPLOAD</button>
            </div>
          </div>
          </form>

          <div class="row" id="upload_url">
              {%if uploaded_file_url %}
              
              You have uploaded the song <B>{{filename}}</B>.<br>

              We will send the karaoke to <B>{{to_email_id}}</B> after we are done processing it.<br>

              <B> Upload another song!</B>
              {% endif %}
          
          </div>

          </div>
        </div> 
      </div>
    </div>
  </div>
</div>





<div class="table1">
      <table class="table table-striped table-responsive">
          <thead> 
          <tr>
          <th>Song Name</th>
          <th>Karaoke Created?</th>
          <th>Your Best Score</th>
          <th>Highest Score overall</th>
          <th>Last Updated</th>
          </tr>
        </thead>
        <tbody>
          {% for song in songs %}
            <tr>
                <td>{{song.name_of_song}}</td>
                <td>{{song.email_sent}}</td>
                <td>{{song.score}}</td>
                <td>{{song.score}}</td>
                <td>{{song.date_time}}</td>
            </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
<a href="{% url 'logout' %}">Logout</a>
</section>
{% endblock %}